@{
    ViewBag.Title = "Pocket";
}
<div class="jumbotron" style="margin-top:20px; height:340px; background-color:#1A2028">
    <div id="HomeCarousel" class="carousel slide" data-ride="carousel" 
         style="text-align:center; font-family:'Century Gothic'; color:#E6B31E">
        <div class="carousel-inner">
            <div class="item active d-block w-100">
                <h1>POCKET</h1> <br />
                <h2>
                    Money management made easy
                </h2>
            </div>
            <div class="item d-block w-100">
                <h2>
                    Telling your money where to go,
                    instead of wondering where it went.
                </h2>
            </div>
            <div class="item d-block w-100">
                <h1 >Bllablla</h1>
            </div>
        </div>
    </div>
</div>

<div class="row" style="color:white;">
    <div class="col-md-4">
        <h2>Pocket</h2>
        <p>
            Pocket is an application blla blla blla blla blla blla
            blla blla blla blla blla blla blla blla blla blla blla blla 
            blla blla blla blla blla blla blla blla blla blla blla blla
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Desktop</h2>
        <p>Extend your Pocket workflow beyond your browser with Pocket Desktop.
        Get a different offline experience that’s completely safe and user-friendly.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Download &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mobile Application</h2>
        <p>Pocket now available on Google Play. Manage your expenses from wherever you are by downloading
        Pocket on your android device now!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Google Play &raquo;</a></p>
    </div>
</div>